# Ignore data
data/
.pytest_cache/
checkpoints/
wandb/
tests/
reports/
performancetests/
outputs/
integrationtests/
docs/
.env/
*.md
wandb_artifacts/
.ruff_cache/


# Ignore files
*.png
*.jpeg

!include:.gitignore
